* {
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}
.card {
  width: 384px;
  background-color: #1f1f1f;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h1 {
  color: white;
  font-weight: 700;
  margin: 0 0 10px 0;
  letter-spacing: 0;
  font-size: 24px;
}
.place-info {
  color: rgba(196, 248, 42, 1);
  font-weight: 600;
  margin: 0 0 24px 0;
  letter-spacing: 0;
  font-size: 14px;
}
.info {
  color: white;
  font-weight: 400;
  margin: 0 0 24px 0;
  letter-spacing: 0;
  font-size: 14px;
}

.list-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 16px;
}
.list-links li {
  background-color: #333333;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
  color: white;
  width: 304px;
  font-weight: 700;
  font-size: 14px;
}
.list-links li:hover {
  background-color: #c4f82a;
}
.list-links a {
  color: white;
  text-decoration: none;
}
.list-links a:focus-visible {
    outline: 2px solid #c4f82a   

}
img {
  border-radius: 50%;
  margin: 0 0 24px 0;
  width: 88px;
  height: 88px;
}
